.spot-tiles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.manage-page-btn {
    background-color: rgb(105, 105, 105);
    color: white;
    box-shadow: 2px 2px black;
}
